In [1]:
import pandas as pd
from sklearn.datasets import load_iris,fetch_20newsgroups,load_boston
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('./data/FBlocation/train.csv')

In [3]:
data.head(10)

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949
5       5  3.8099  1.9586        75  178065  6289802927
6       6  6.3336  4.3720        13  666829  9931249544
7       7  5.7409  6.7697        85  369002  5662813655
8       8  4.3114  6.9410         3  166384  8471780938
9       9  6.3414  0.0758        65  400060  1253803156

In [4]:
data = data.query('x > 1.0 & x < 1.25 & y>2.5 & y<2.75')

In [5]:
#处理时间
time_value = pd.to_datetime(data['time'],unit='s')
time_value = pd.DatetimeIndex(time_value)
data['day'] = time_value.day
data['weekday'] = time_value.weekday
data['hour'] = time_value.hour

In [6]:
 #删除时间
data.drop(['time'],axis=1)

            row_id       x       y  accuracy    place_id  day  weekday  hour
600            600  1.2214  2.7023        17  6683426742    1        3    18
957            957  1.1832  2.6891        58  6683426742   10        5     2
4345          4345  1.1935  2.6550        11  6889790653    5        0    15
4735          4735  1.1452  2.6074        49  6822359752    6        1    23
5580          5580  1.0089  2.7287        19  1527921905    9        4    11
6090          6090  1.1140  2.6262        11  4000153867    2        4    16
6234          6234  1.1449  2.5003        34  3741484405    4        6    15
6350          6350  1.0844  2.7436        65  5963693798    1        3    10
7468          7468  1.0058  2.5096        66  9076695703    9        4    15
8478          8478  1.2015  2.5187        72  3992589015    8        3    23
9357          9357  1.1916  2.7323       170  5163401947    4        6    16
12125        12125  1.1388  2.5029        69  7536975002    7        2     3
14937        14937  1.1426  2.7441        11  6780386626    6        1     3
20660        20660  1.2387  2.5959        65  3683087833    8        3     3
20930        20930  1.0519  2.5208        67  6399991653    2        4    21
21731        21731  1.2171  2.7263        99  8048985799    7        2     8
26584        26584  1.1235  2.6282        63  5606572086    4        6    15
27937        27937  1.1287  2.6332       588  5606572086    8        3     3
30798        30798  1.0422  2.6474        49  1435128522    1        3    20
33184        33184  1.0128  2.5865        75  1913341282    6        1    15
33877        33877  1.1437  2.6972       972  6683426742    2        4    14
34340        34340  1.1513  2.5824       176  2355236719    4        6    14
37405        37405  1.2122  2.7106        10  2946102544    4        6    15
38968        38968  1.1496  2.6298       166  9598377925    8        3     8
41861        41861  1.0886  2.6840        10  3312463746    1        3     3
42135        42135  1.0498  2.6840         5  3312463746    2        4     2
42729        42729  1.0694  2.5829        10  1812226671    1        3    16
44283        44283  1.2384  2.7398        60  8048985799    8        3     6
44549        44549  1.2077  2.5370        76  3992589015    7        2     1
44694        44694  1.0380  2.5315       152  5035268417    8        3    14
...            ...     ...     ...       ...         ...  ...      ...   ...
29070221  29070221  1.1678  2.5605        66  2355236719    7        2     2
29070322  29070322  1.0493  2.7010        74  3312463746    1        3    18
29070934  29070934  1.1899  2.5176        28  2199223958    3        5     3
29071712  29071712  1.2260  2.7367         4  2946102544    8        3     4
29072165  29072165  1.0175  2.6220        42  5283227804    4        6    12
29073572  29073572  1.2467  2.7316        64  8048985799    7        2    20
29074121  29074121  1.2071  2.6646       161  5270522918    8        3     2
29077579  29077579  1.2479  2.6474        42  2006503124    8        3    18
29077716  29077716  1.1898  2.7013         5  6683426742    9        4    11
29079070  29079070  1.1882  2.5476        28  1731306153    7        2     0
29079416  29079416  1.2335  2.5903        72  6766324666    5        0    10
29079931  29079931  1.0213  2.6554       167  5270522918    2        4     5
29083241  29083241  1.0600  2.6722        71  9632980559    2        4     0
29083789  29083789  1.0674  2.6184        88  1097200869    5        0     9
29084739  29084739  1.2319  2.6767        63  2327054745    6        1    12
29085497  29085497  1.0550  2.5997       175  1097200869    3        5    11
29086167  29086167  1.0515  2.6758        57  6237569496    8        3     1
29087094  29087094  1.0088  2.5978        71  1097200869    4        6    22
29089004  29089004  1.1860  2.6926       153  2215268322    1        3    23
29090443  29090443  1.0568  2.6959        58  2460093296    3        5     9
29093677  29093677  1.0016  2.5252        16  9013153173    7        2    10
29094547  29094547  1.1101  2.6530        24  5270522918    9        4    11
29096155  29096155  1.0122  2.6450        65  8178619377    4        6     8
29099420  29099420  1.1675  2.5556         9  2355236719    4        6    15
29099686  29099686  1.0405  2.6723        13  3312463746    8        3     1
29100203  29100203  1.0129  2.6775        12  3312463746    1        3    10
29108443  29108443  1.1474  2.6840        36  3533177779    7        2    23
29109993  29109993  1.0240  2.7238        62  6424972551    8        3    15
29111539  29111539  1.2032  2.6796        87  3533177779    4        6     0
29112154  29112154  1.1070  2.5419       178  4932578245    8        3    23

[17710 rows x 8 columns]

In [7]:
#签到数量少于n个目标位置的删除
place_count = data.groupby('place_id').count()
place_count.reset_index().head()

     place_id  row_id     x     y  accuracy  time   day  weekday  hour
0  1012023972       1     1     1         1     1     1        1     1
1  1057182134       1     1     1         1     1     1        1     1
2  1059958036       3     3     3         3     3     3        3     3
3  1085266789       1     1     1         1     1     1        1     1
4  1097200869    1044  1044  1044      1044  1044  1044     1044  1044

In [8]:
tf = place_count[place_count.row_id > 3].reset_index()
data = data[data['place_id'].isin(tf.place_id)]

In [18]:
#取出数据中的特征值和目标值
y = data['place_id']
x = data.drop(['place_id','row_id'],axis=1)

In [19]:
#进行数据的分割：训练集合 & 测试集合
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [22]:
#特征工程（标准化）
std = StandardScaler()
#对测试集合训练集的特征值进行标准化
x_train = std.fit_transform(x_train)
x_test  = std.transform(x_test)

In [35]:
#进行算法流程
knn = KNeighborsClassifier(n_neighbors=100)

In [36]:
#fit ， predict ，score
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=100, p=2,
           weights='uniform')

In [37]:
#得出预测结果
y_predict = knn.predict(x_test)

In [38]:
#得出准确率
knn.score(x_test,y_test)

0.40709219858156026